.vacancies-list{
    display: flex;
}

.vacancies-list-title{
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #555555;
    margin-top: 60px;
    margin-bottom: 50px;
}

.vacancies-sort{
    min-width: 300px;
    background-color: #8c8c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vacancies-sort-item {
    font-family: 'raleway', 'arial', sans-serif;
    color: white;
    margin-bottom: 50px;
}

.vacancies {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.vacancies-block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
}

.sort-item-title {
    margin-bottom: 10px;
}

.sort-item-title span{
    color: #555555;
}

.vacancies-sort-item select{
    font-family: 'raleway', 'arial', sans-serif;
    background-color: #8c8c8c;
    outline: none;
    border-radius: 5px;
    border: 0;
}